button{
    border:.5 px solid white;
    background-color: rgb(144, 148, 148);
    color: rgb(255, 255, 255);
    padding:1rem 1.2rem;
    cursor:pointer;
    border-radius:.2rem;
    font-size: 20px;
}

button:hover{
    filter:brightness(80%);
}
.triple{
    grid-column-start: 1;
    grid-column-end:4;
}

.double{
    grid-column-start: 1;
    grid-column-end:3;
}

.colored{
    background-color:rgb(231, 111, 13)
}