.display-css{
    background:rgb(73, 73, 73);
    min-height: 80px;
    max-width: 400px;
    width:100%;
    color:white;
    text-align:right;
    display:flex;
    justify-content:flex-end;
    font-family: sans-serif;
    padding: 1.2rem 0rem;
    border-radius: .4rem;
    margin: auto;

}

h1{
    padding-right:25px;
}